<footer class="footer">
  <div class="footer-top">
    <div class="footer-brand">
      <div class="footer-brand-logo">
        <div class="circle"></div>
        <span>Untitled UI</span>
      </div>
      <p>
        Design amazing digital experiences that create more happy in the world.
      </p>
    </div>

    <div class="footer-links">
      <h4>Product</h4>
      <ul>
        <li>Overview</li>
        <li>Features</li>
        <li>Solutions</li>
        <li>Tutorials</li>
        <li>Pricing</li>
        <li>Releases</li>
      </ul>
    </div>

    <div class="footer-links">
      <h4>Company</h4>
      <ul>
        <li>About us</li>
        <li>Careers</li>
        <li>Press</li>
        <li>News</li>
        <li>Media kit</li>
        <li>Contact</li>
      </ul>
    </div>

    <div class="footer-links">
      <h4>Resources</h4>
      <ul>
        <li>Blog</li>
        <li>Newsletter</li>
        <li>Events</li>
        <li>Help centre</li>
        <li>Tutorials</li>
        <li>Support</li>
      </ul>
    </div>

    <div class="footer-links">
      <h4>Social</h4>
      <ul>
        <li>Twitter</li>
        <li>LinkedIn</li>
        <li>Facebook</li>
        <li>GitHub</li>
        <li>AngelList</li>
        <li>Dribbble</li>
      </ul>
    </div>

    <div class="footer-links">
      <h4>Legal</h4>
      <ul>
        <li>Terms</li>
        <li>Privacy</li>
        <li>Cookies</li>
        <li>Licenses</li>
        <li>Settings</li>
        <li>Contact</li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <span>© 2077 Untitled UI. All rights reserved.</span>
    <div class="social-icons">
      <fa-icon [icon]="faTwitter"></fa-icon>
      <fa-icon [icon]="faLinkedinIn"></fa-icon>
      <fa-icon [icon]="faFacebookF"></fa-icon>
      <fa-icon [icon]="faGithub"></fa-icon>
      <fa-icon [icon]="faAngellist"></fa-icon>
      <fa-icon [icon]="faDribbble"></fa-icon>
    </div>
  </div>
</footer>
