<section class="featured-posts">
  <h2>Recent blog posts</h2>
  <div class="layout">
    <!-- Big card à esquerda -->
    <div class="big-post" *ngIf="posts.length > 0">
      <a [routerLink]="['/blog', posts[0].id]" class="overlay-link"></a>
      <img [src]="posts[0].image" [alt]="posts[0].title" />
      <div class="info">
        <span class="meta"> {{ posts[0].author }} • {{ posts[0].date }} </span>
        <h3>{{ posts[0].title }}</h3>
        <p>{{ posts[0].excerpt }}</p>
        <div class="tags">
          <span *ngFor="let t of posts[0].tags" class="tag">{{ t }}</span>
        </div>
      </div>
    </div>

    <!-- Dois cards à direita (índice 1 e 2) -->
    <div class="side-posts">
      <div class="side-post" *ngFor="let post of posts.slice(1, 3)">
        <a [routerLink]="['/blog', post.id]" class="overlay-link"></a>
        <img [src]="post.image" [alt]="post.title" />
        <div class="info">
          <span class="meta"> {{ post.author }} • {{ post.date }} </span>
          <h4>{{ post.title }}</h4>
          <div class="tags">
            <span *ngFor="let t of post.tags" class="tag">{{ t }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
