.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  flex-wrap: wrap;
}
.pagination button {
  background: white;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.pages button {
  background: #000;
  color: white;
}
