<section class="recent-posts">
  <h2>All blog posts</h2>
  <div class="grid">
    <div class="card" *ngFor="let post of paginatedPosts">
      <a [routerLink]="['/blog', post.id]" class="overlay"></a>
      <img [src]="post.image" alt="Post image" />
      <div class="content">
        <span class="meta"> {{ post.author }} • {{ post.date }} </span>
        <h3>
          {{ post.title }}
          <fa-icon
            class="external"
            icon="fa-solid fa-up-right-from-square"
          ></fa-icon>
        </h3>
        <p>{{ post.excerpt }}</p>
        <div class="tags">
          <span *ngFor="let tag of post.tags" class="tag">{{ tag }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">
      Previous
    </button>
    <button
      *ngFor="let page of [].constructor(totalPages); index as i"
      [class.active]="i + 1 === currentPage"
      (click)="goToPage(i + 1)"
    >
      {{ i + 1 }}
    </button>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      Next
    </button>
  </div>
</section>
